{% extends "base.html.twig" %}

{%  block body %}

    <h1>Actualité</h1>

    <div class="index-news-list">

    <a href="#" id="last-news">
            <div class="last-article-content">
           <div id="article-title">
             <span id="article-title-text">{{ lastarticle[0].title }} </span>
           </div>
            </div>
    </a>

        <div class="other-news">

            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[1].title }} </span>
                    </div>
                </div>
            </a>
            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[2].title }} </span>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div id="btn-see-more"><a href="#"> Voir plus de news... <i class="fi-rr-eye"></i>   </a></div>

    <div class="index-two-columns">
        <div class="last-appartments">
            <h1>Derniers appartements</h1>

            {% for room in lastroom %}
                <div class="appartment">
                    <div id="room-icon"></div>
                    <div id="room-desc">
                        <h2>{{ room.name }}</h2>
                        <span id="room-slug">{{ room.description }}</span>
                    </div>
                    <a href="#" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
                </div>
            {% endfor %}

            <div id="btn-see-more"><a href="#"> Voir tous nos appartements <i class="fi-rr-eye"></i>   </a></div>
        </div>

        <div class="last-contest">
            <h1>Évènement en cours</h1>
            <div class="contest-info">
                <h3>Concours d'appart</h3>
                <div id="contest-info-img"></div>
            </div>
        </div>
    </div>

    <h1>Flux City</h1>

    <div class="flux-city">
        {% for data in staffStream %}
        <div class="box-flux">
            <img src="https://www.habbo.com/habbo-imaging/avatarimage?user=lawrawrrr&direction=2&head_direction=2&gesture=agr&action=wlk,crr=33&size=l&format=.gif" alt="avatar" class="box-flux-avatar">
            <div class="box-flux--desc">
                <h2>{{ data.pseudo }}</h2>
                <span>{{ data.rank }}</span>
                <span>{{ data.date|date("d/m/Y") }}</span>
            </div>
            {% if data.type == 'QUIT' %}
            <i class="fi-rr-arrow-down arrow-down"></i>
            {% endif %}
            {% if data.type == 'ARRIVAL' %}
                <i class="fi-rr-arrow-up arrow-up"></i>
            {% endif %}
            {% if data.type == 'SWITCH' %}
                <i class="fi-rr-rotate-right"></i>
            {% endif %}
        </div>
        {% endfor %}
    </div>


{% endblock %}