{% extends "base.html.twig" %}

{% block title %}{{ site_name }} : Acceuil{% endblock%}
{%  block body %}

    <div class="page-info">
        <img src="https://images.habbo.com/c_images/HabboWay/habboway_2a.png">
        <div class="page-info--content">
            <h1>Accueil</h1>
            <span>Bienvenue sur notre site, ici tu pourras découvrir l'actualité d'Habbocity ainsi que des concours organisés par nos soins</span>
        </div>
    </div>

    <h1>Actualité</h1>

    <div class="index-news-list">

    <a href="/news/{{ lastarticle[0].id }}" id="last-news" style="background-image: url('{{ lastarticle[0].ImaageUrL }}')">
            <div class="last-article-content">
           <div id="article-title">
             <span id="article-title-text">{{ lastarticle[0].title }} </span>
           </div>
            </div>
    </a>

        <div class="other-news">

            <a href="/news/{{ lastarticle[1].id }}" id="a-news" style="background-image: url('{{ lastarticle[1].ImaageUrL }}')">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[1].title }} </span>
                    </div>
                </div>
            </a>
            <a href="/news/{{ lastarticle[2].id }}" id="a-news" style="background-image: url('{{ lastarticle[2].ImaageUrL }}')">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[2].title }} </span>
                    </div>
                </div>
            </a>
            <a href="/news/{{ lastarticle[3].id }}" id="a-news" style="background-image: url('{{ lastarticle[3].ImaageUrL }}')">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[3].title }} </span>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div id="btn-see-more"><a href="/news"> Voir plus de news... <i class="fi-rr-eye"></i>   </a></div>

    <div class="index-two-columns">
        <div class="last-appartments">
            <h1>Derniers appartements</h1>

            {% for room in lastroom %}
                <div class="appartment">
                    <div id="room-icon" style="background-image: url('{{ room.thumbnail }}')"></div>
                    <div id="room-desc">
                        <h2>{{ room.name }}</h2>
                        <span id="room-slug">{{ room.description }}</span>
                    </div>
                    <a href="#" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
                </div>
            {% endfor %}

            <div id="btn-see-more"><a href="/room"> Voir tous nos appartements <i class="fi-rr-eye"></i>   </a></div>
        </div>

        <div class="last-forum-posts">
            <h1>Nos topics sur City</h1>
            {% for post in forumPosts %}

                <div class="forum-post">
                    <img src="https://api.habbocity.me/avatar_image.php?user={{ post.author }}&headonly=0&direction=2&head_direction=2&size=l">
                    <div class="forum-post-desc">
                    <h3>{{ post.title }}</h3>
                        <span>{{ post.description }}</span>
                        <span class="auteur">{{ post.author }}</span>
                    </div>
                    <a href="{{ post.forumlink }}" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
                </div>

            {% endfor %}
        </div>
    </div>

    <h1>Flux City</h1>

    <div class="flux-city">
        {% for data in staffStream %}
        <div class="box-flux">
            <img src="https://api.habbocity.me/avatar_image.php?user={{ data.pseudo }}&headonly=0&direction=2&head_direction=2&size=l" alt="avatar" class="box-flux-avatar">
            <div class="box-flux--desc">
                <h2>{{ data.pseudo }}</h2>
                <span>{{ data.rank }}</span>
                <span>{{ data.date|date("d/m/Y") }}</span>
            </div>
            {% if data.type == 'QUIT' %}
            <i class="fi-rr-arrow-down arrow-down"></i>
            {% endif %}
            {% if data.type == 'ARRIVAL' %}
                <i class="fi-rr-arrow-up arrow-up"></i>
            {% endif %}
            {% if data.type == 'SWITCH' %}
                <i class="fi-rr-rotate-right"></i>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}