{%  extends "base.html.twig" %}

{% block sidemenu %}

    <div id="side-menu">

        <div class="side-menu-container">

            <div class="top-menu flx-row">
                <img src="/assets/imgs/3cvomVt.png" class="menu-logo" alt="logo">
                <button onclick="closeDiv()" id="button-close-menu">Menu <i class="fi-rr-cross"></i></button>
            </div>
            <!-- MODAL ZONE-->

            {% if app.user %}
            <div class="profile-menu-show flx-column">

                <div id="profile-pic"></div>
                <a href="/profile/{{ app.user.username }}" class="profile-link"> <span id="photo-pseudo">{{ app.user.username }}</span></a>
                <span id="photo-rank">{{ app.user.rank.name }}</span>
                <a href="/logout" class="menu--btn"><span>Déconnexion</span></a>

                <div class="user-purse-info">
                    <div class="purse-info">{{ app.user.points }} <span>points</span></div>
                </div>
            </div>
                {% else %}
                    <div class="menu-auth-btn flx-column">
                        <a href="/login" class="menu--btn"><span>Se connecter</span></a>
                        <a href="/register" class="menu--btn"><span>S'inscrire</span></a>
                    </div>
        {% endif %}

            <nav>
                <ul>
                    {{ render(controller(
                        'App\\Controller\\MenuController::getMenu'
                    )) }}
                </ul>
            </nav>

        </div>

    </div>

    <script>
        function closeDiv() {
            document.getElementById('side-menu').style.display="none";
        }
    </script>

{% endblock %}