{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : {{ article.title|default('Les articles') }}!{% endblock %}

{% block body %}
    <div class="show-news-content">

        {% if article %}

            <div class="news-page--content">
        <div class="show-news">
            <div class="article-thumbnail" style="background-image: url('{{ article.ImaageUrL}}')"></div>
            <div class="article-content">
                <h1>{{ article.title}}</h1>
                <span>{{ article.content|raw }}</span>
            </div>
        </div>

                {% if app.user %}
                    {% for message in app.flashes('success') %}
                        <div class="alert-success">
                            <span>{{ message }} <a href="/news/{{ article.id }}">Actualiser</a> </span>
                        </div>
                    {% endfor %}
                    <div class="comment-form">
                    {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                    <button type="submit" class="btn btn-primary">Commenter</button>
                    {{ form_end(comment_form) }}
                    </div>
                {% endif %}

            {% for comment in comments|reverse %} <!-- lel dunno why this doesnt work in php meh -->
                <div class="comment-item">
                    <img src="https://api.habbocity.me/avatar_image.php?user={{ comment.author }}&headonly=0&direction=2&head_direction=2&size=l" alt="Comment's author" class="comments-author--avatar">
                    <div class="comment-item--details">
                    <h3>{{ comment.author }}</h3>
                    <span>{{ comment.content }}</span>
                    </div>
                </div>
            {% endfor %}

            </div>

            {% else %}
                <div class="show-news show-news--error">
                    <div class="article-content article-content--error">
                        <img src="https://images.habbo.com/c_images/HabboWay/habboway_5a.png" />
                        <h1>Oops !</h1>
                        <span>L'article que tu essayes de chercher est introuvable.</span>
                    </div>
                </div>

        {% endif %}


        <div class="list-other-news">
            {% for news in list %}
                <div class="listed-news" style="background-image: url('{{ news.ImaageUrL }}');">
                    <div id="listed-news-title"><h4>{{ news.title }}</h4></div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
