{% extends "base.html.twig" %}

{% block title %} {{ site_name }} : L'actualité{% endblock %}

{%  block body %}

    <div class="page-info">
        <img src="https://2img.net/h/vpictu.re/uploads/fd6d6915956642852067f26bce6860555555ac05.gif">
        <div class="page-info--content">
            <h1>Toute notre actualité</h1>
            <span>Ici tu pourras consulter la liste de nos derniers articles parus concernant l'actualité sur Habbocity et sur {{ site_name }}</span>
        </div>
    </div>

   <a href="/news/{{ newsarray[0].id }}" id="list--last-news">

    <div class="last-news--box" style="background-image: url('{{ newsarray[0].ImaageUrL }}')">

        <div class="last-article-content">
            <div id="article-title">
                <span id="article-title-text">{{ newsarray[0].title }} </span>
            </div>
        </div>

    </div>

       <div class="list--all-news">

           {% for news in newsarray[1:] %}

               <div class="all-news--item" style="background-image: url({{ news.ImaageUrL }})">
                   <div class="last-article-content">
                   <div id="article-title">
                       <span id="article-title-text">{{ news.title }} </span>
                   </div>
                   </div>
               </div>

           {% endfor %}


       </div>

   </a>

{% endblock %}